@import 'Chrome';
@import 'Home';
@import 'NotFound';

$application-border: #000;
$menu-border-color: #777;
$content-border-color: #bbb;

.application {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
